<div class="col-md-6 center-block">
    <h1>Select Fields</h1>
    <div class="well">
        <h4>Tags </h4>
        <my-select-field field-label="Languages" items="vm.tags" tooltip="Please Select a Language"
                        ng-model="vm.selectedTags">
        </my-select-field>

        <h4>Tags </h4>
        <my-select-field field-label="Languages" items="vm.cats"
                        input-type="combobox"
                         tooltip="Please Select a Language"
                        ng-model="vm.selectedTags">
        </my-select-field>
    </div>
   
</div>
