<div class="form-group">
    <!--Label-->
    <label class="control-label" style="min-width: 80px !important;">
        {{vm.fieldLabel}}
    </label>

    <!--Input-->
    <div class="input-group" style="width: 80% !important;">
        <input type="text" class="form-control" id="{{vm.fieldName}}" ng-model="vm.ngModel" ng-required="{{ vm.required }}">

        <!--ToolTip-->
        <div class="input-group-addon style=line-height: 0 !important;" ng-show=vm.showToolTip>
            <my-popover ng-model=vm.toolTip></my-popover>
        </div>
    </div>
</div>
