<style>
.popover
{
    min-width: 200px;
}
</style>

<div class="form-group">
    <!--field label-->
    <label ng-class="vm.cssClassService.getlabelClass(vm.horizontal, vm.labelWidth)" for="vm.fieldName">{{vm.fieldLabel}}</label>

    <div ng-class="vm.cssClassService.getInputClass(vm.horizontal, vm.inputWidth)">
        <!--Input Types-->
        <div ng-if="!vm.readOnly" class="input-group">
            <!--TextBox-->
            <input ng-if="vm.inputType==='textbox'" type="email" class="form-control" id="vm.fieldName" placeholder="Enter email">
            <!--TextArea-->
            <textarea ng-if="vm.inputType==='textarea'" class="form-control" id="vm.fieldName" placeholder="Enter email"></textarea>
            <!--CheckBox-->
            <input ng-if="vm.inputType==='checkbox'" type="checkbox" id="vm.fieldName" />           

            <span ng-if="vm.tooltip!==''" class="input-group-addon" uib-popover="{{vm.tooltip}}" popover-title="Info"
                popover-class="popover"
                popover-trigger="'mouseenter'" ><i class="fa fa-info"></i>
            </span>
        </div>
        <!--Read Only display-->
        <div ng-show="vm.readOnly">
            <p ng-if="vm.inputType!=='checkbox'">{{vm.ngModel}}</p>
            <i ng-if="vm.inputType==='checkbox'" ng-show='vm.ngModel' class='fa fa-check fa-2x'></i>
        </div>
 
        <!--HelpText-->
        <p class="help-block">{{vm.helpText}}.</p>
    </div>
</div>
