<div class="form-group">
    <label ng-class="vm.labelClass" for="email">{{vm.fieldLabel}}</label>
    <div ng-class="vm.inputClass">
        <span ng-if="!vm.readOnly">
          <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.ngModel" 
          is-open="vm.isOpened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.open()"><i class="fa fa-bars"></i></button>
          </span>
        </p>
    </div>
    <div ng-show="vm.readOnly">
        <p>{{vm.ngModel}}</p>
    </div>
</div>
</div>
