<div class="example">
    <h1>Status Alerts</h1>
    <hr>
    {{vm.message}}<br>
    {{vm.show}}<br>
    <br>
    <my-input-field field-label="Message"  ng-model="vm.message"></my-input-field>
    <my-status-alert is-error="vm.isError" 
                     show="vm.show"
                     timeout="6000"
                     message="vm.message">
    </my-status-alert>

    <my-input-field input-type="checkbox" ng-model="vm.isError" 
                    field-label="Simulate Error" ></my-input-field>



    <my-button text="Submit" theme="success" click="vm.submit()"></my-button>
</div>
