<my-input-field field-label="Date From" ng-model="vm.fromDate">

{{vm.fromDate}}
<my-input-field input-type="time" field-label="From"  ng-model="vm.fromDate" ng-change="vm.fromTimeChanged()" hour-step="vm.hourStep" minute-step="vm.minStep" show-meridian="vm.showMeridian"></my-input-field>

<my-input-field input-type="time" field-label="Date To"  ng-model="vm.tomDate" ng-change="vm.toTimeChanged()" hour-step="vm.hourStep"" minute-step="vm.minStep" show-meridian="vm.showMeridian"></my-input-field>
