<h1>
    Dates</h1>
<hr>
<h2>Date Field</h3>


    <hr>
    <div class="row">
        <div class="col-md-4">
            <my-date-field ng-model="vm.sampleDate"  horizontal="true" field-label="Start Date" help-text="Enter a Date"></my-date-field>
        </div>
        <div class="col-md-8">
            <br>
            <code>
            <span class="tag"> &lt;my-date-field </span>
            <span class="attrib">ng-model=</span>
            <span class="value">"vm.sampleDate"&gt;</span>
            <span class="tag">&lt;/my-date-field&gt;</span>
            </code>
        </div>
    </div>
     <hr>
    <div class="row">
        <div class="col-md-4">
            <my-date-field ng-model="vm.sampleDate"  horizontal="true"
            help-text="Enter a Date" read-only="true"></my-date-field>
        </div>
        <div class="col-md-8">
            <code>
                    <span class="tag"> &lt;my-date-field </span>
                    <span class="attrib">ng-model=</span>
                    <span class="value">&quot;vm.sampleDate&quot;</span>
                    <span class="attrib">read-only=</span>
                    <span class="value">"true"&gt;</span>
                    <span class="tag">&lt;/my-date-field&gt;</span>
              </code>
        </div>
    </div>
