<div class="form-group">
    <label ng-class="vm.labelClass" for="email">{{vm.fieldLabel}}</label>
    <div ng-class="vm.inputClass">
        <div ng-if="!vm.readOnly">
            <input ng-if="vm.inputType==='textbox'" type="email" class="form-control" id="vm.fieldName" placeholder="Enter email">
            <textarea ng-if="vm.inputType==='textarea'" class="form-control" id="vm.fieldName" placeholder="Enter email"></textarea>
        </div>
        <div ng-show="vm.readOnly">
            <p>{{vm.ngModel}}</p>
        </div>
    </div>
</div>
